.upload-loading-card {
    width: 400px;
    padding: 36px 32px;
    border-radius: 12px;
    background: #ffffff;

    .title {
        font-size: 18px;
        font-weight: 500;
        color: #4f4f4f;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .upload-loading-card {
        width: 85vw;
    }
}
