.upload-card-wrapper {
    width: 400px;
    padding: 36px 32px;
    border-radius: 12px;
    background: #ffffff;
    text-align: center;

    .heading {
        font-size: 18px;
        font-weight: 500;
        color: #4f4f4f;
        margin-bottom: 16px;
    }

    .sub-heading {
        font-size: 10px;
        font-weight: 500;
        color: #828282;
        margin-bottom: 30px;
    }

    .or-text {
        font-size: 12px;
        font-weight: 500;
        color: #bdbdbd;
        margin: 20px 0;
    }

    .upload-btn-wrapper {
        background: #2f80ed;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        font-family: "Poppins";
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 10px;

        .upload-btn {
            &[type="file"] {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .upload-card-wrapper {
        width: 85vw;
        padding: 36px 20px;
        overflow: hidden;
    }
}
